<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
    <link rel="stylesheet"
          href="style2.css">

</head>
<body>
    <header>

        <nav class="upMenu">
            <div class="container">
                <ul>
                    <li><a href="/index.html"> Home </a></li>
                    <li><a href="/galery.html"> Carros disponiveis </a></li>
                    <li><a href="/cadastro.html"> Cadastro de carros </a></li>
                </ul>
            </div>
        </nav>

    </header>
    
<div class="projetos">
    <h2 class="titleProjetos">Carros disponiveis</h2>
</div>

<div class="cardContainer">

    <article class="card">
        <span class="valor"> R$ 22222222</span>
        <div style="text-align:center"><img src="img/1.JPG"
                 alt="Projeto1"
                 class="card__imagem"
                 width="100%"></div>
        <div class="card__info">
            <span class="card__title">Projeto1</span>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                molestie tincidunt. Proin
                vel semeget magna congue bibendum vitae eu nislAA.</p>
            <span class="button">
                <a class="card__botao1"
                   href="/deletado.html"> Deletar </a>
                <a class="card__botao2"
                   href="/item.html"> Atualizar </a>
            </span>

    </article>



    <article class="card">
        <span class="valor"> R$ 22222222</span>
        <div style="text-align:center"><img src="img/2.JPG"
                 alt="Projeto2"
                 class="card__imagem"
                 width="100%"></div>
        <div class="card__info">
            <span class="card__title">Projeto2</span>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                molestie tincidunt. Proin
                vel semeget magna congue bibendum vitae eu nislBB.</p>

            <span class="button">
                <a class="card__botao3"
                   href="/deletado.html"> Deleter </a>
                <a class="card__botao4"
                   href="/item.html"> Atualizar </a>
            </span>
        </div>

    </article>

    <article class="card">
         <span class="valor"> R$ 22222222</span>
        <div style="text-align:center"><img src="img/3.jpeg"
                 alt="Projeto3"
                 class="card__imagem"
                 width="100%"></div>
        <div class="card__info">
            <span class="card__title">Projeto3</span>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                molestie tincidunt. Proin
                vel semeget magna congue bibendum vitae eu nislCC.</p>
            <span class="button">
                <a class="card__botao5"
                   href="/deletado.html"> Deletar </a>
                <a class="card__botao6"
                   href="/item.html"> Atualizar </a>
            </span>
        </div>
    </article>



    <div class="cardContainer2">

        <article class="card">
            <span class="valor"> R$ 22222222</span>
            <div style="text-align:center"><img src="img/1.JPG"
                     alt="carro1"
                     class="card__imagem"
                     width="100%"></div>
            <div class="card__info">
                <span class="card__title">Projeto1</span>
                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                    molestie tincidunt. Proin
                    vel semeget magna congue bibendum vitae eu nislAA.</p>
                <span class="button">
                    <a class="card__botao1"
                       href="/deletado.html"> Deletar </a>
                    <a class="card__botao2"
                       href="/item.html"> Atualizar </a>
                </span>
    
        </article>
    
    
    
        <article class="card">
            <span class="valor"> R$ 22222222</span>
            <div style="text-align:center"><img src="img/2.JPG"
                     alt="carro2"
                     class="card__imagem"
                     width="100%"></div>
            <div class="card__info">
                <span class="card__title">Projeto2</span>
                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                    molestie tincidunt. Proin
                    vel semeget magna congue bibendum vitae eu nislBB.</p>
    
                <span class="button">
                    <a class="card__botao3"
                       href="/deletado.html"> Deleter </a>
                    <a class="card__botao4"
                       href="/item.html"> Atualizar </a>
                </span>
            </div>
    
        </article>
    
        <article class="card">
             <span class="valor"> R$ 22222222</span>
            <div style="text-align:center"><img src="img/3.jpeg"
                     alt="carro3"
                     class="card__imagem"
                     width="100%"></div>
            <div class="card__info">
                <span class="card__title">Projeto3</span>
                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    consectetur sagittis faucibus. Proin convallis ac ante id convallis. Ut hendrerit turpis eu
                    molestie tincidunt. Proin
                    vel semeget magna congue bibendum vitae eu nislCC.</p>
                <span class="button">
                    <a class="card__botao5"
                       href="/deletado.html"> Deletar </a>
                    <a class="card__botao6"
                       href="/item.html"> Atualizar </a>
                </span>
            </div>
        </article>

</div>
</body>
<script src="index.js"></script>
</html>
    
